body {
  background: #efefef;
  margin: 0;
}

a {
  text-decoration: none;
  color: red;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}

ul,
ol {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.topNavBar .logo {
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 24px;
  padding-top: 1px;
  font-weight: bolder;
}

.topNavBar .logo .rs {
  color: #e6686a;
  margin-right: 4px;
}

.topNavBar .logo .card {
  color: grey;
}

.topNavBar nav {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: right;
}

.topNavBar .topNavBar-inner {
  padding: 0 16px 0 16px;
}
.topNavBar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topNavBar nav ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  display: block;
  position: relative;
}
nav .submenu{
  display: none;
  position: absolute;
  top:100%;
  right:0px; 
  background:white;
  color:#3d4451;
}
.topNavBar nav ul > li > a {
  border-bottom: 3px solid transparent;
  float: right;
  padding-bottom: 6px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.topNavBar nav ul > li.active > a::after,
.topNavBar nav ul > li.highlight > a::after
{
  content:'';
  display: block;
  position: absolute;
  top:100%;
  left:0;
  width:100%;
  height:3px;
  background:#e06567;
  animation: navSlide 0.5s;
}
@keyframes navSlide{
    0%{width:0;}
    100%{width:100%;}
}


nav li.active> .submenu{
  display: block;
  animation: submenuslide 0.2s;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@keyframes submenuslide{
  0%{margin-right:100%;}
  100%{margin-right:0%;}
}
nav .submenu > li{
  white-space: nowrap;
  padding:5px 10px;
}
.banner {
  height: 515px;
  background-image: url(./image/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.topNavBar {
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  color: #b7b7b7;
}
.topNavBar.sticky{
  background:white;
  z-index:1;
  padding:6px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color:#3d4451;
}
.banner .mask {
  height: 515px;
  background-color: rgba(68, 67, 67, 0.7);
}

.usercard {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
}

.usercard .hello {
  background: rgb(236, 129, 129);
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}

.usercard .hello .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}

.usercard .pictureandtext {
  padding: 50px;
  max-width: 930px;
}

.usercard .text {
  float: left;
  margin-left: 65px;
  max-width: 501;
}

.usercard .text h1 {
  margin-top: 18px;
}

.usercard .piture {
  float: left;
}

.profile dd dt {
  float: left;
}

.usercard .text hr {
  margin: 20px 0;
}

.usercard dl dt,
.usercard dl dd {
  float: left;
}

.usercard dl dt {
  width: 30%;
  font-weight: bold;
}

.usercard dl dd {
  width: 70%;
  color: #9da0a7;
}

.usercard > footer.media {
  background-color: #dc6465;
  text-align: center;
}

.usercard > footer.media > a {
  display: inline-block;
  /* border:1px solid black; */
  width: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 50%;
}

.usercard > footer.media > a:hover {
  background: #cf5d5f;
}

.usercard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}

body > main {
  margin-top: -340px;
}

body > main .downloadResume {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cbcdcf;
  display: inline-block;
  margin: 32px 0;
  color: #3d4451;
  font-weight: bold;
  font-family: "KaiTi";
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

.downloadfather {
  text-align: center;
}

body > main .downloadResume:hover {
  box-shadow: 0px 4px 13px 0px rgba(10, 8, 10, 0.5);
}

.ziwojieshao {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section.skills{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

}
section.portfolio{
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
section.skills > h2,
section.portfolio > h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 40px;
}

.skills > ol {
  background: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 42px 50px 10px;
  margin-top: 30px;
}

.skills .progressBar {
  height: 5px;
  background: #f4e1e1;
  border-radius: 2px;
  margin: 4px 0 40px;
}

.skills .progressBar .progress {
  height: 100%;
  background: #e6686a;
  width: 70%;
  border-radius: 2px;
  animation: slideup 2s;
}
@keyframes slideup{
  0%{width:0;}
  width{width:100%;}
}
.skills > ol > li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}

.skills > ol > li:nth-child(even) {
  float: right;
}

section.portfolio > nav > ol > li {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}

section.portfolio > nav > ol > li:first-child {
  margin-left: 0;
}

section.portfolio {
  text-align: center;
}

section.portfolio > nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}

section.portfolio > nav {
  text-align: center;
}

section > nav .bar {
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 37px;
  border-radius: 2px;
}

section > nav .bar .bar-inner {
  height: 100%;
  background: #e6686a;
  border-radius: 2px;
  transition: all 0.3s;
}

section.portfolio > nav .bar.state-1 .bar-inner {
  margin-left: 0;
  width: 50px;
}

section.portfolio > nav .bar.state-2 .bar-inner {
  margin-left: 65px;
  width: 50px;
}

section.portfolio > nav .bar.state-3 .bar-inner {
  margin-left: 140px;
  width: 96px;
}

section .works {
  position: relative;
  /* border:1px solid red; */
  margin-bottom: 100px;
}

section .works .big,
section .works .small {
  position: absolute;
}
[data-x].active{
  /* outline:5px solid red; */
}
[data-x].offset{
  transform:translateY(100px);
}
[data-x]{
  transform:translateY(0);
  transition:all 0.5s;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.swiper-container {
  width: 668px;
  height: 501px;
  margin-bottom: 30px;
}
.swiper-button-prev{
  margin:auto auto;
}
section.message > h2{
  text-align: center;
}
section.message > ol{
  max-width:700px;
  margin:0 auto;
  border-top:1px solid #DDD;
}
section.message > ol > li{
  padding:16px;
  border-bottom:1px solid #DDD;
}
